@tailwind base;
@tailwind components;
@tailwind utilities;


.stable, .arm-stable, .testing, .arm-testing, .unstable, .arm-unstable {
	@apply pl-4 text-lg leading-10;
}
.stable, .arm-stable {
	@apply bg-green-200;
}
.testing, .arm-testing {
	@apply bg-amber-200;
}
.unstable, .arm-unstable {
	@apply bg-red-200;
}

.toggle {
	/* Reset default styling and basic styling */
	@apply appearance-none cursor-pointer;

	/* Container */
	@apply h-5 w-12 rounded-2xl inline-block relative border-2 bg-violet-500 border-violet-500;

	/* Slider "ball" */
	@apply after:content-[''] after:absolute after:rounded-full after:h-4 after:w-4 after:bg-white after:border-none after:shadow-sm after:transition-transform;

	/* Container checked status */
	@apply checked:border-blue-500 checked:bg-blue-500;

	/* Slider checked status */
	@apply checked:after:translate-x-7;
}
