<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch compare for Manjaro</title>
    <link rel="stylesheet" href="{{ site_uri_prefix }}{{ url_for('static', filename = 'style.css') }}">
    <link rel="icon" type="image/png" href="{{ site_uri_prefix }}{{ url_for('static', filename='branch_compare.png') }}">
</head>
<body class="w-full px-4 lg:px-0 lg:max-w-3xl mx-auto bg-slate-100">
    <h1 class="text-4xl font-bold my-8 text-center">Branch compare for Manjaro</h1>
    
    <form action="">
        <fieldset class="flex flex-col lg:flex-row ">
            <label class="text-xl mb-2 lg:mb-0 lg:mr-4" for="query">Package name or regex: </label>
            <input class="text-white bg-slate-800 bold rounded px-2 py-1 mb-2 lg:mb-0" type="text" name="q" id="query" value="{{ query }}">
            <input class="btn btn-green" type="submit" value="Send">
        </fieldset>
        <div class="">
            <div class="pl-0">
                <label class="inline-block text-gray-800" for="arch_switch">x64</label>
                <input class="toggle align-top mt-0.5" type="checkbox" role="switch" id="arch_switch" name="arm" {% if arm %}checked{% endif %}>
                <label class="form-check-label inline-block text-gray-800" for="arch_switch">ARM</label>
            </div>
        </div>
    </form>

    <div class="my-8">
        {% if query %}
            {% if packages %}
                <h2 class="text-3xl">Packages for query "{{ query }}" on {% if arm %}Arm{% else %}x64{% endif %} architecture.</h2>
                <p class="text-sm">{{ packages|length }} results</p>
                <p class="text-sm mb-4">Database last updated on: {{ last_update }}</p>
                {% for package_name, package in packages.items() %}
                    <div class="grid grid-cols-[minmax(min-content,3fr)_minmax(min-content,24rem)] border border-slate-600">
                        <div class="flex flex-col justify-center items-center mx-8">
                            <span class="font-bold text-xl">{{ package_name }}</span>
                        </div> <!-- /Package name -->
                        <ul class="grid grid-cols-1 sm:grid-cols-[auto_minmax(0,_1fr)]">
                            {% for branch_name in branches %}
                                <li class="contents">
                                    <span class="{{ branch_name }} text-center">{{ branch_name }}</span>
                                    <div class="{{ branch_name }} text-center sm:text-left"><span class="hidden sm:inline mr-2">:</span><span>{{ package[branch_name].version }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% else %}
                    <p class="text-red-600 text-3xl font-bold">No packages for query "{{ query }}"!</p>
            {% endif %}
        {% else %}
            <p>You can also use one of the special tags:</p>
            <ul>
                <li><span class="font-mono">#kernels</span>: Linux kernels</li>
                <li><span class="font-mono">#manjaro</span>: Packages directly packaged by Manjaro devs</li>
                <li><span class="font-mono">#new</span>: Packages existing in unstable but not in stable branch. Possibly meaning they are new packages coming to Manjaro in the next stable update</li>
                <li><span class="font-mono">#eol</span>: Packages existing in stable but not in unstable branch. Possible meaning they are to be dropped from Manjaro in the next stable update</li>
                <li><span class="font-mono">#error</span>: Packages in anomalous situations. For example a package that only exists in testing branch.</li>
            </ul>
        {% endif %}

    </div>
    {% if not query %}
        <script>
            document.getElementById("query").focus();
        </script>
    {% endif %}
</body>
</html>
